.hand {
  display: flex;
}

.cards {
  flex: 2 1 auto;
  grid-template-areas:
    "c c"
    "c c";
  border: 2px solid blue;
}

.penalty {
  flex: 1 1 auto;
  grid-template-areas:
    "p"
    "p";
  border: 2px solid red;
}

.cards, .penalty {
  display: grid;
  justify-items: center;
  grid-row-gap: 15px;
  padding: 15px;
}
