.board-button {
  background-color: $standard-button-color;
  color: $standard-button-text-color;
  outline: none;
}

.full-board {

}

.top-players {

}

.deck-area {

}

.bottom-players {

}

.current-user {
  
}
