.board-button {
  background-color: $standard-button-color;
  color: $standard-button-text-color;
  outline: none;
}

.full-board {
  border: 1px solid black;
  max-height: 97.5vh;
  width: 100%;
  display: grid;
  grid-template-rows: 42.5% 15% 42.5%;
}

.players {
  border-width: 1px;
  border-style: solid;
  border-color: $standard-player-area;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-auto-rows: 100%;
  grid-gap: 2%;
}