.board-button {
  background-color: $standard-button-color;
  color: $standard-button-text-color;
  outline: none;
}

.full-board {
  border: 1px solid black;
  height: 97.5vh;
  width: 100%;
  display: grid;
  grid-template-rows: 40% 12.5% 47.5%;
  grid-template-areas:
    "top-players"
    "deck-area"
    "bottom-players";
}

.top-players {
  border-width: 1px;
  border-style: solid;
  border-color: $standard-player-area;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.deck-area {
  border-width: 1px;
  border-style: solid;
  border-color: $standard-deck-area;
}

.bottom-players {
  border-width: 1px;
  border-style: solid;
  border-color: $standard-player-area;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.current-user {
  border-width: 1px;
  border-style: solid;
  border-color: blue;
}
