.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 90vh;
  border: 1px solid black;

  .chat-input-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    > * {
      width: 100%;
    }
  }

  .chat-history {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
  }
}

