.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 150px;
  padding: 7px;
  height: 90vh;
  border: 1px solid black;

  .chat-input-box {
    display: flex;
    flex-direction: column;
    margin: 10px;

    > * {
      width: 100%;
    }
  }

  .chat-history {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
  }

  .chat-message {
    font-size: 16px;
    .user-name {
      font-weight: bold;
    }
  }

  .game-message {
    font-style: italic;
    font-size: 14px;
  }
}
