.bottom-players {
  border-width: 1px;
  border-style: solid;
  border-color: $standard-player-area;
  display: grid;
    grid-template-columns: 32.33% 32.33% 32.33%;
  grid-auto-rows: 100%;
  grid-gap: 1.5%;
  grid-template-areas:
    "playertwo"
    "currentuser"
    "playersix";
}

.player-two, .player-six {
  grid-area: "playerthree";
  border-width: 1px;
  border-style: solid;
  border-color: teal;
}
