.top-players {
  border-width: 1px;
  border-style: solid;
  border-color: $standard-player-area;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 100%;
  grid-template-areas:
    "playerthree"
    "playerfour"
    "playerfive";
}

.player-three {
  grid-area: "playerthree";
  border-width: 1px;
  border-style: solid;
  border-color: teal;
}

.player-four {
  grid-area: "playerfour";
  border-width: 1px;
  border-style: solid;
  border-color: teal;
}

.player-five {
  grid-area: "playerfive";
  border-width: 1px;
  border-style: solid;
  border-color: teal;
}
