.top-players {
  border-width: 1px;
  border-style: solid;
  border-color: $standard-player-area;
  display: grid;
  grid-template-columns: 31.33% 31.33% 31.33%;
  grid-auto-rows: 100%;
  grid-gap: 3%;
  grid-template-areas:
    "playerthree"
    "playerfour"
    "playerfive";
}

.player-three, .player-four, .player-five {
  border-width: 1px;
  border-style: solid;
  border-color: teal;
}
