.card {
  width: 12vh;
  min-width: 80px;
  height: 20vh;
  min-height: 150px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  position: relative;
  display: flex;
  color: black;
  box-shadow: 4px 4px 2px #ccc;

  &.front {
    .top {
      position: absolute;
      top: 0.25em;
      left: 0.25em;
    }
    .middle {
      margin: auto;
      font-size: 4em;
    }
    .bottom {
      position: absolute;
      bottom: 0.25em;
      right: 0.25em;
    }
  }

  &.back {
    background-color: lightgray;
  }

  &.empty {
    box-shadow: none;
  }

  .hearts, .diamonds {
    color: red;
  }

  .hearts::after {
    content: "\2665";
    padding: 0 0.25em;
  }
  .diamonds::after {
    content: "\2666";
    padding: 0 0.25em;
  }
  .clubs::after {
    content: "\2663";
    padding: 0 0.25em;
  }
  .spades::after {
    content: "\2660";
    padding: 0 0.25em;
  }
}