.card {
  width: 120px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;

  &.front {
    .top {

    }
    .middle {

    }
    .bottom {
      
    }
  }

  &.back {
    background-color: lightgray;
  }
}