.deck-area {
  grid-column: 1 / -1;
  padding: $hand-padding;
  border-width: 1px;
  border-style: solid;
  border-color: $standard-deck-area;
  display: grid;
  grid-template-columns: 10% 10% 10%;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.discarddeck-area {
  border-width: 1px;
  border-style: solid;
  border-color: purple;
}

.drawdeck-area {
  border-width: 1px;
  border-style: solid;
  border-color: orange;
}

.current-card-area {
  border-width: 1px;
  border-style: solid;
  border-color: green;
}